@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

$outfit-family: 'Big Shoulders Display', cursive;
$lexend-family: 'Lexend Deca', sans-serif;

.main-container{
    font-family: $outfit-family;
}

.card{
    font-family: $lexend-family;
}