@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

$outfit-family: 'Big Shoulders Display', cursive;
$lexend-family: 'Lexend Deca', sans-serif;

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: hsl(0, 0%, 95%);
    @media (max-width: 1032px) {
        height: auto;
    }
}

.main-container{
    overflow: hidden;
    @media (max-width: 767px) {
        width: min-content;
    }
}

.card{
    width: 20rem;
    font-family: $lexend-family;
    height: 32rem;
    justify-content: flex-start;
    @media (max-width: 767px) {
        height: auto;
    }
}

.icon{
    width: 4rem;
}

.titlecard{
    font-family: $outfit-family;
}

.paraf{
    font-weight: 400;
    font-size: 16px;
}

.knowmore:last-child{
    margin-top: auto;
}
